@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Poppins", serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", serif ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 4px  /* Set the width of the scrollbar */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Optional: Set the background color of the track */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;  /* Set the color of the scrollbar thumb */
  border-radius: 10px;  /* Optional: Round the corners for a smoother look */
}